.wrapper {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
  gap:3rem;
  justify-content: center;

}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  margin:5rem
}

.sort{
  margin-left: 2rem;
}

.dropdowns{
  
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.favorite{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap:0.5rem;
  margin-right: 5rem;
  margin-left: auto;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn{
  box-shadow: 0 2px 10px #929292;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  overflow: hidden;
  display: flex;
  box-shadow: 0 2px 20px #929292;
  flex-direction: column;
  border-color: rgba(255, 255, 255, 0.914);
  border-radius: 0cm;
  transition: transform 200ms ease-in;
  
  
}

.card:hover{
  transform: scale(1.05);
}

.card-btn:hover{
  background-color: black;
  color: white;
}
img {
  float: left;
  width:  18rem;
  height: 18rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

h3{
  font-weight: 500;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;

}
h1{
  font-family: 'Bauhaus Modern', sans-serif;
  font-weight: 900;
}
h2{
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;

}
.card-btn{
  border-color: #282c34;
  
  background-color: white;
  font-family: 'Bauhaus Modern', sans-serif;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  transition: transform 200ms ease-in;
  
}
